## Write a small python program to retrive all record from the table with attributes(title,isbn).

In [8]:
import mysql.connector
db = mysql.connector.connect(host="localhost",user="root",password="")
cursor = db.cursor()
cursor.execute('SHOW DATABASES')
for databases in cursor:
    print(databases[0])

cbse_emp
coursera
htm
information_schema
misc
music
mydb
mysql
office
performance_schema
phpmyadmin
roster
school
shop
test
university_db

In [10]:
cursor.execute('CREATE DATABASE schools')
cursor.execute('SHOW DATABASES')
for databases in cursor:
    print(databases[0])

cbse_emp
coursera
htm
information_schema
misc
music
mydb
mysql
office
performance_schema
phpmyadmin
roster
school
schools
shop
test
university_db

In [12]:
db = mysql.connector.connect(host="localhost",user="root",password="",database='schools')
cursor = db.cursor()
cursor.execute('SHOW DATABASES')
for databases in cursor:
    print(databases[0])

cbse_emp
coursera
htm
information_schema
misc
music
mydb
mysql
office
performance_schema
phpmyadmin
roster
school
schools
shop
test
university_db

In [13]:
sql = 'CREATE TABLE books(title VARCHAR(30),isbn INT(10) PRIMARY KEY)'
cursor.execute(sql)

In [20]:
sql = 'INSERT INTO books VALUES("Chader Pahar","13429"),("kOLKATA","1309"),("pI","13729")'
cursor.execute(sql)
db.commit()

In [27]:
sql = 'SELECT * FROM books WHERE isbn'
cursor.execute(sql)
rs=cursor.fetchall()
for row in rs:
    print (row)

('kOLKATA', 1309)