<a href="https://colab.research.google.com/github/recervictory/CBSE-XII/blob/main/Untitled60.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1) WAP which will accept a year as an input and check it is a leap year or not.

year = int(input("Enter the Year: "))

if (year % 400 == 0) and (year % 100 == 0):
  print("{0} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
  print("{0} is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

Enter the Year: 2000
2000 is a leap year

In [ ]:
# 2) WAP which will accept a student’s name and marks of five subjects, then calculate total marks and average marks and find out the grade with the following rule:

name = input("Enter Name: ")
total = 0

for i in range(5):
  total  += float(input("Enter the {0} subject marks: ".format(i + 1)))

print("Name: ",name)
print("Total Marks: ", total)
avg = total / 5
print("Average Marks: ", avg)

if avg >= 90:
  grade = "A"
elif avg >= 80 and avg < 90:
  grade = "B+"
elif avg >= 70 and avg < 80:
  grade = "B+"
elif avg >= 60 and avg < 70:
  grade = "B+"
elif avg >= 50 and avg < 60:
  grade = "B+"
elif avg < 50:
  grade = "Not Satisfactory"
print("Grade: ",grade)

Enter Name: Vic
Enter the 1 subject marks: 90
Enter the 2 subject marks: 89
Enter the 3 subject marks: 78
Enter the 4 subject marks: 78
Enter the 5 subject marks: 89
Total Marks:  424.0
Average Marks:  84.8
Grade:  B+

In [ ]:
## 3) WAP which will accept the units consumed and calculate the electric bill as follows:

units = int(input("Enter the units of consumption: "))
rate = 100

if units >= 200:
  rate += units * 8.5
elif units <= 50:
   rate += units * 5
elif units > 50 and units < 100:
   rate += units * 6
elif units > 100 and units < 200:
   rate += units * 6

print("Electric Bill", rate)

Enter the units of conxumption: 110
Electric Bill 760

In [ ]:
# 4) WAP which will take a no. as input and check whether it is palindrome no. or not.

num = int(input("Enter a number: "))
rev = 0
temp = num

while temp > 0:
  last = temp % 10
  rev = rev * 10 + last
  temp = temp // 10

if num == rev:
  print("{0} is a palindrome number".format(num))
else:
  print("{0} is a not palindrome number".format(num))

Enter a number: 121
121 is a palindrome number

In [ ]:
# 5) WAP which will accept a range and find out all the perfect numbers within the range.

start = int(input("Enter a fisrt number: "))
end = int(input("Enter a last number: "))

for i in range(start,end +1):
  print(i)

Enter a fisrt number: 10
Enter a last number: 20
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
## 6) WAP which will take your email id as input and it will check whether it is a valid email id or not. 
# (Criteria for a valid email: there should be one “@” sign and one “.” Sign)

email = input("Enter Email is: ")

if email.count("@") == 1 and email.count(".") == 1:
  print("Valid Mail...")
else:
  print("Invalid Mail...")

Enter Email is: recervictory@gmail.com
Valid Mail...

In [ ]:
## 7) WAP which will accept two numbers and swap the values without using third variable.


num1 = int(input("Enter a first number : "))
num2 = int(input("Enter a second number: "))

num1 , num2 = num2, num1

print("First Num:{0} ,Second Num:{1}".format(num1,num2))

Enter a fisrt number : 10
Enter a second number: 20
First Num:20 ,Second Num:10

In [ ]:
## 9) WAP which will accept your name as an input and print in the following  way:

name = input("Enter Name: ")
name_lst = name.split()
surname = name_lst.pop()
short = ""
for text in name_lst:
  short  += text[0] + "."
print(short + surname)

Enter Name: Subhash Chandra
S.Chandra

In [ ]:
## 10) WAP which will accept two strings and it will form a new string made of first two characters from 1st string and last 2 characters from 2nd string.

text1 = input("Enter a first string : ")
text2 = input("Enter a second string: ")

new = text1[:2] + text2[-2:]
print(new)

Enter a first string : 000
Enter a second string: 123
0023

In [ ]:
## 12) WAP to print sum of the given series: S=1-2/3!+3/4!-4/5!..... upto nth terms.

sum = 1

num = int(input("Enter a number: "))

for i in range(2,num +1):
  fact = 1
  for j in range(1,i +2):
    fact *= j
  if i % 2 == 0:
    sum -= i/fact
  else:
    sum -= i/fact

print(sum)

Enter a number: 4
0.5083333333333334

In [ ]:
# 13) WAP in which you have to form a list of integers and search for a no. whether it is in the list or not.

lst = [1,2,3,4,5]

num = int(input("Enter a number: "))

if num in lst:
  print("{0} is in the list".format(num))
else:
  print("{0} is not in the list".format(num))

Enter a number: 4
4 is in the list

In [ ]:
## 14) WAP in which you have to form a list and then sort the elements either in ascending or descending order.

lst = [7,6,2,3,4,5]

lst.sort() # asending
print("Ascending : ",lst)
lst.sort(reverse=True) # descending
print("Descending: ",lst)

Ascending :  [2, 3, 4, 5, 6, 7]
Descending:  [7, 6, 5, 4, 3, 2]

In [ ]:
## 15) WAP to create two lists and display the common elements from those two lists.

lst1 = [7,6,2,3,4,5]
lst2 = [1,2,3,4,5,9,10]

common = list(set(lst1).intersection(set(lst2)))

print(common)

[2, 3, 4, 5]

In [ ]:
## 17) WAP to convert dictionary to list of tuple.

dic = {1:"A",2:"B",3:"C"}
lst =[]
for key,value in dic.items():
  lst.append((key,value))

print(lst)

[(1, 'A'), (2, 'B'), (3, 'C')]

In [ ]:
### 18) WAP to count the frequency in a list using dictionary.

lst = [1,1,2,2,2,3,3,4,4,4]
dic = {}
for item in lst:
  if item in dic:
    dic[item] += 1
  else:
    dic[item] = 1

print(dic)

{1: 2, 2: 3, 3: 2, 4: 3}

In [ ]:
### 19) WAP to find out the maximum and minimum elements in a touple.

tup = (1,1,2,2,2,3,3,4,4,4)
print("Max: ",max(tup))
print("Min: ",min(tup))

Max:  4
Min:  1

In [ ]:
## 20) WAP which will count the no. of positive and negative numbers available in a touple.
tup = (1,1,2,-2,-2,3,3,-4,4,4)
pos, neg = 0,0
for i in tup:
  if i >= 0:
    pos += 1
  else:
    neg += 1

print(pos,neg)

7 3