In [1]:
# Create new Databse name 'school office'
import mysql.connector 
#import MySQLdb as sql
db = mysql.connector.connect(host='localhost',user='root',password="")
cursor=db.cursor()
cursor.execute('SHOW DATABASES')
for databases in cursor:
    print(databases[0])

cbse_emp
coursera
htm
information_schema
misc
music
mydb
mysql
office
performance_schema
phpmyadmin
roster
school
shop
test
university_db

In [8]:
cursor.execute('CREATE DATABASE OFFICE')

In [9]:
cursor.execute('SHOW DATABASES')
for databases in cursor:
    print(databases[0])

cbse_emp
coursera
information_schema
misc
music
mydb
mysql
office
performance_schema
phpmyadmin
roster
school
test
university_db
vocab

In [11]:
import mysql.connector
db=mysql.connector.connect(host='localhost',user='root',password='',database='office')
cursor=db.cursor()

In [13]:
sql='CREATE TABLE PERSONAL(ID INT(3) PRIMARY KEY, NAME VARCHAR(30),DATEOFBIRTH DATE, PINCODE INT(10))'
cursor.execute(sql)

In [17]:
sql1='INSERT INTO PERSONAL VALUES(011,"ARITRA",1998-12-10,700044)'
cursor.execute(sql1)
db.commit()

In [18]:
sql2='INSERT INTO PERSONAL VALUES(017,"AVI",1994-7-21,700156)'
cursor.execute(sql2)
db.commit()

In [19]:
sql3='INSERT INTO PERSONAL VALUES(112,"SRIJA",1999-1-16,700098),(156,"ISHAN",1998-4-24,700063)'
cursor.execute(sql3)
db.commit()

In [2]:
sql4='SELECT * FROM product'
cursor.execute(sql4)
rs=cursor.fetchall()
for row in rs:
    print (row)

ProgrammingError: 1046 (3D000): No database selected