In [1]:
import pandas as pd
import sqlite3
from datetime import date

In [2]:
#connecting with the database.
db = sqlite3.connect("shop.db")
db.execute("drop table if exists results")
try:
  db.execute("create table product(P_ID varchar(5), ProductName varchar(25), Manufacturer varchar(10), Price int(5), Discount int(5))")
  db.execute("create table client(C_ID int(3), ClientName varchar(25), City varchar(10),P_ID varchar(5))")
except:
  print("Already table existed !!")

In [3]:
# Connect to databases
db = sqlite3.connect("shop.db")

In [18]:
sql = "INSERT INTO product VALUES('TP01','Talcum Powder','LAK',40,NULL)"
cursor.execute(sql)
db.commit()

In [20]:
sql = "INSERT INTO product VALUES('FW05','Face Wash','ABC',45,5), \
        ('BS01','Bath Soap','ABC',55,NULL), \
        ('SH06','Shampoo','XYZ',120,10),    \
        ('FW12','Face Wash','XYZ',95,NULL)"
cursor.execute(sql)
db.commit()

In [21]:
sql = "INSERT INTO client VALUES(01,'Cosmetic Shop','Delhi','TP01'),(02,'Total Health','Mumbai','FW06'),(03,'Live Life','Delhi','BS01'),(04,'Pretty Woman','Delhi','SH06'),(05,'Dreams','Delhi','FW12')"
cursor.execute(sql)
db.commit()

In [47]:
sql='SELECT * FROM product'
cursor.execute(sql)
rs=cursor.fetchall()
for row in rs:
    print (row)

OperationalError: 2055: Lost connection to MySQL server at 'localhost:3306', system error: 10054 An existing connection was forcibly closed by the remote host

In [36]:
# Create new Databse name 'school office'
import mysql.connector 
#import MySQLdb as sql
db = mysql.connector.connect(host='localhost',user='root',password="")
cursor=db.cursor()
cursor.execute('SHOW DATABASES')
for databases in cursor:
    print(databases[0])

cbse_emp
coursera
information_schema
misc
music
mydb
mysql
office
performance_schema
phpmyadmin
roster
school
shop
test
university_db
vocab

In [38]:
cursor.execute('CREATE DATABASE shop')

DatabaseError: 1007 (HY000): Can't create database 'shop'; database exists

In [33]:
import mysql.connector
db=mysql.connector.connect(host='localhost',user='root',password='',database='shop')
cursor=db.cursor()

In [17]:
cursor.execute("create table product(P_ID varchar(5), ProductName varchar(25), Manufacturer varchar(10), Price int(5), Discount int(5))")
cursor.execute("create table client(C_ID int(3), ClientName varchar(25), City varchar(10),P_ID varchar(5))")